/* src/styles/tailwind.css */

/* Import the Tailwind directives */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom styles */
@layer base {
  html {
    @apply overflow-x-hidden;
  }

  body {
    @apply overflow-x-hidden;
  }

  /* Custom scrollbar for desktop */
  @media (min-width: 768px) {
    ::-webkit-scrollbar {
      width: 0;
      background: transparent;
    }

    ::-webkit-scrollbar-thumb {
      background: transparent;
    }
  }
}

/* Modal open state */
.modal-open {
  @apply overflow-hidden pr-0;
}

/* Hide scrollbar utility */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
