@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Inter', sans-serif;
}

/* Pastikan bullet muncul dan berwarna primary */
.ingredients-list-primary {
  list-style-type: disc !important;
  padding-left: 1.5rem;
}
.ingredients-list-primary li {
  display: list-item !important;
}
.ingredients-list-primary li::marker {
  color: #ff670e !important;
}
